<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Tracker | See Workout Details</title>
</head>
<body>
    <header>
        <h1><%= workout.name%></h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/workouts">Back to Workout Index</a>
                </li>
            </ul>
        </nav>
    </header>   

    <main>


        <section>
            <h2>Workout Details</h2>

            <ul>
                <% exercises.forEach(exercise => { %>
                    <h3> <a href="/exercises/<%=exercise._id%>"><%=exercise.name%></a></h3>
                    <li>
                        Sets: <%= exercise.sets %>,
                        Reps: <%= exercise.reps %>,
                        Weight: <%= exercise.weight %> lbs
                    </li>
                    
                <% }); %>
            </ul>
        </section>
        <section>
            <h2>Actions</h2>
            <% if(currentUser) { %>
                <a href="/workouts/<%= workout._id %>/edit"><button class="button">Edit Workout</button></a>
                <form action="/workouts/<%= workout._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Workout">
                </form>

            <% } else { %>
                <p>Sorry, you don't have access to these actions. Please log in to continue.</p>
            <% } %>
        </section>
    </main> 
</body>
</html>