<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Tracker | See Workout Details</title>
</head>
<body>
    <header>
        <h1><%= workout.name%></h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/workouts">Back to Workout Index</a>
                </li>
            </ul>
        </nav>
    </header>   

    <main>
        <section>

            <h2>Workout Details</h2>
            <ul>
                    
                    <li>
                        <a href="/workouts/<%= workout._id %>"><%=workout.name%></a>
                    </li>
            </ul>
        </section>
        <section>
            <h2>Actions</h2>
            <a href="/workouts/<%= workout._id %>/edit"><button class="button">Edit Workout</button></a>
            <form action="/workouts/<%= workout._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Workout">
            </form>
        </section>
    </main> 
</body>
</html>