<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Tracker | <%= exercise.name %></title>
</head>
<body>
    <header>
        <h1><%= exercise.name %></h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/exercises">Exercises Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <label for="sets">Sets:</label>
            <%= exercise.sets%><br/>
            <label for="reps">Reps:</label>
            <%= exercise.reps%><br/>
            <label for="weight">Weight:</label>
            <%= exercise.weight %> lbs<br/>
            
        </section>
    </main>
</body>
</html>